<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
        integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
        async></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>

<body style="background: url('https://cdn.pixabay.com/photo/2020/09/15/15/56/background-5574027_960_720.png') no-repeat center center fixed; -webkit-background-size: cover;
-moz-background-size: cover; background-size: cover; -o-background-size: cover;">
    <div class="container">
        <div class="container" style="width:500px;">
            <form action="/insert" method="post">

                <div class="form-group mt-2">
                    <label for="pNum" class="form-label">Go to Page No :</label>
                    <input type="pNum" class="form-control" id="pNum" placeholder="Enter page number" name="pNum">


                    <button type="submit" class="btn btn-dark mt-3">Submit</button>
                </div>

            </form>

        </div>
    </div>


</body>

</html>